<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EditProfiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <EditProfiles.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>ProfileChanger.log</value>
            </setting>
            <setting name="TestModulesVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitTimeToKillProcess" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ClearTestModules" serializeAs="String">
                <value>True</value>
            </setting>
        </EditProfiles.Properties.Settings>
    </applicationSettings>
</configuration>
