<?xml version="1.0" encoding="utf-8"?>
<!--Inside the "configuration" element, the first child -->
<!-- MUST BE the "configSections" element -->
<!-- For more info: http://stackoverflow.com/questions/6436157/configuration-system-failed-to-initialize -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EditProfiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- This section to fix System.Windows.Interactivity clashing with WPFToolkit extension -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.25.1.0" newVersion="0.25.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- End of the section -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <EditProfiles.Properties.Settings>
      <setting name="TestModulesVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitTimeToKillProcess" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ClearTestModules" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDetailedOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AppendFileName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RepeatChar" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="RepeatNumber" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CrashLogFileSize" serializeAs="String">
        <value>1000000</value>
      </setting>
      <setting name="MaxFileNameLength" serializeAs="String">
        <value>250</value>
      </setting>
    </EditProfiles.Properties.Settings>
  </applicationSettings>
</configuration>
